<%= form_for(@product_key) do |f| %>
  <% if @product_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_key.errors.count, "error") %> prohibited this product_key from being saved:</h2>

      <ul>
      <% @product_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :activation_count %><br />
    <%= f.number_field :activation_count %>
  </div>
  <div class="field">
    <%= f.label :key_is_valid %><br />
    <%= f.check_box :key_is_valid %>
  </div>
  <div class="field">
    <%= f.label :activated %><br />
    <%= f.check_box :activated %>
  </div>
  <div class="field">
    <%= f.label :downloaded %><br />
    <%= f.number_field :downloaded %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :variant_id %><br />
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
