<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @product_key.content %>
</p>

<p>
  <b>Activation count:</b>
  <%= @product_key.activation_count %>
</p>

<p>
  <b>Valid:</b>
  <%= @product_key.key_is_valid %>
</p>

<p>
  <b>Activated:</b>
  <%= @product_key.activated %>
</p>

<p>
  <b>Downloaded:</b>
  <%= @product_key.downloaded %>
</p>

<p>
  <b>Product:</b>
  <%= @product_key.product_id %>
</p>

<p>
  <b>Variant:</b>
  <%= @product_key.variant_id %>
</p>

<p>
  <b>Order:</b>
  <%= @product_key.order_id %>
</p>

<p>
  <b>User:</b>
  <%= @product_key.user_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @product_key.sku %>
</p>


<%= link_to 'Edit', edit_product_key_path(@product_key) %> |
<%= link_to 'Back', product_keys_path %>
